
/* page load animation */

#layer_1, #layer_2 {
    transform: scale(-4%);
    fill: #2487EA;
}

.animate__animated {
    --animate-duration:1s
}


      /* hover for gallery */

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  
  .hovereffect img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }
  
  .hovereffect:hover img {
    filter:blur(3px);
    -webkit-filter: blur(3px);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .hovereffect h2 {
    /* text-transform: uppercase; */
    /* text-align: center; */
    position: relative;
    font-size: 1.5em;
    /* padding: 15px; */
    /* font-family: "gantari";
    font-weight: 800;
    color: white; */
  }
  
  .hovereffect p {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    margin: 0;
    background-color: transparent;
  }
  
 
  
  .hovereffect p, .hovereffect h2 {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0;
    filter: alpha(opacity=0);
    color: white;
    text-transform: none;
    font-family: 'gantari', sans-serif;
    font-weight: 600;
    margin-top:100px;
  }
  
  .hovereffect:hover p, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=10);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }



  /* ------------------------------------------ */
