@media (max-width:735px){
    nav {
        padding-left: 0;
    }

   .image-gallery {
       padding-bottom: 200%;
       grid-template-columns: 1fr minmax(400px, 1fr) 1fr;
       grid-template-areas:
       ".a." 
       ".b."
       ".c." 
       ".d."
       ".e."
        ".f."
       ;
   }
}

#nameheader {

    max-width: 1;
}

/* portfolio grid */

.image-gallery {
    height: 100%;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto;
    grid-gap: 0px;
    padding-top: 200px;
    padding-bottom: 200px;
    grid-template-areas:
    ". a b ."
    ". c d ."
    ". e f ."
    ". g h .";
}

.box-styling {
    height: 350px;
    background-color: rgb(110, 110, 110);
    /* clip-path: polygon(5% 5%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); */
  }

.box-wrapper{
  height:350px;
  
}
.box1 {
    grid-area: a;
}

.box2 {
    grid-area: b;
}

.box3 {
    grid-area: c;
}

.box4 {
    grid-area: d;
}

.box5 {
    grid-area: e;
}

.box6 {
    grid-area: f;
}

.bigText {
    font-size: 2em;
    padding-right: .5ch;
}


/* ------- nav bar ------- */


nav{
    padding-left:4em;
    padding-right: 4em;

    /* TODO: figure out no longer staying fixed */
    position: sticky;
    width: 100%;
    top:0;
    justify-items: center;
    z-index:10;
    font-family: Gantari;
    font-weight: 900;
    text-transform: uppercase;
  }

  nav ul {
    margin:0;
    padding:0;
    display:flex;
  }
  nav li{
    padding: 1em 0;
    list-style-type: none;
    padding: 25px;
    font-size: 1.7em;
  }
  
  nav li a {
    color:rgb(0, 0, 0);
    font-weight: 600;
    opacity: 0.6;
    text-decoration: none;
    transition: .3s;
  }
  
  nav li a:hover {
    color:#2487EA;
    opacity: 1;
    text-decoration: none;
  }

 #linkedin:hover {
    color:#2487EA;
    opacity: 1;
    text-decoration: none;

  }

  #icon {

    position: relative;
    margin-left: auto;
    margin-right: auto;
  }