@media (max-width:735px){
    nav {
        padding-left: 0;
    }

   .image-gallery {
       padding-bottom: 200%;
       grid-template-columns: 1fr minmax(400px, 1fr) 1fr;
       grid-template-areas:
       ".a." 
       ".b."
       ".c." 
       ".d."
       ".e."
        ".f."
       ;
   }
}

body{ 
background-image: url(assets/bgpattern.svg);
background-repeat: repeat;}

svg {
  max-width: 225px;
  display:block;
  margin: auto;
  padding: 1%;


}
#nameheader {
    align-items: center;
    max-width: 250px;
}

/* portfolio grid */

.image-gallery {
    height: 100%;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto;
    grid-gap: 0px;
    padding-top: 0px;
    padding-bottom: 200px;
    grid-template-areas:
    ". a b ."
    ". c d ."
    ". e f ."
    ". g h .";
}

.box-styling {
    height: 350px;
    background-color: rgb(110, 110, 110);
    /* clip-path: polygon(5% 5%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); */
  }

.box-wrapper{
  height:350px;
  
}
.box1 {
    grid-area: a;
}

.box2 {
    grid-area: b;
}

.box3 {
    grid-area: c;
}

.box4 {
    grid-area: d;
}

.box5 {
    grid-area: e;
}

.box6 {
    grid-area: f;
}

.bigText {
    font-size: 2em;
    padding-right: .5ch;
}


/* ------- nav bar ------- */


nav{
    display: inline-block;
    margin: auto;
    position: sticky;
    width: 100%;
    top:0;
    z-index:10;
    font-family: Gantari;
    font-weight: 900;
    text-transform: uppercase;
    background-color: white;
    opacity: 80%;
  }

  nav ul {
    padding:0;
    display:flex;
  }
  nav li{
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    padding: 2%;
    font-size: 1.7em;
  }
  
  nav li a {
    color:rgb(0, 0, 0);
    font-weight: 600;
    opacity: 0.9;
    text-decoration: none;
    transition: .3s;
  }
  
  nav li a:hover {
    color:#2487EA;
    opacity: 1;
    text-decoration: none;
  }


/* ------- icons ------ */


  #linkedin {
    color:#2487EA;
    opacity: .95;
    transition: .3s;
  }

 #linkedin:hover {
    color:#2487EA;
    opacity: .45;
    

  }

  #instagram {
    color:#2487EA;
    opacity: .95;
    transition: .3s;
  }

 #instagram:hover {
    /* color:#2487EA; */
    opacity: .45;

  }

/* ------------   type treatment   ------------- */

 h1 {
  font-family: Gantari;
  font-weight: 800;
 }

 h2 {

  font-family: gantari;
  font-weight: 800;
  font-size: 72pt;
  line-height: 60pt;
  text-transform: uppercase;
  color: #2487EA;
  
 }
 h3 {
  font-family: Gantari;
  font-weight: 400;
 }

 h4 {

  font-family: Gantari;
  font-style: italic;
  font-weight: 200;

 }

.png {

  padding-top: 200%;

 }

/* ------------   section layouts   ------------- */


 #about {

    padding-top: 12%;
    padding-left: 12%;
    display: grid;
    grid-template-columns: .5fr .25fr;
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    grid-template-areas:
    ". a b ."
 

   
 }

 .aboutimg {
  grid-area: b;

 }

 /* .blurb {

padding: 30%;
 } */

 #contact {

  padding-top: 12%;
 }


 footer{ 
  background-color:#2487EA; 
  margin-top: auto;
  text-align: center;
  height: 100px; } 