/* 
*{
  padding: 0; 
  margin: 1;
  box-sizing: border-box;
  border: 2px solid rgb(71, 214, 20);

  }  */

/* container for mobile grid */

  .container{ 
    transform: scale(80%);
    justify-content: center;
    height:100vh;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
          "heading"
          "nav"
          "gallery"
          "about"
          "contact"
          "footer";}

   .image-gallery {
       grid-template-columns: 1fr;
       grid-template-areas:
       "box1" 
       "box2"
       "box3" 
       "box4"
       "box5"
       "box6"
       ;
   }

   

 /* ------------   main container   ------------- */

 
 .container {
  max-width: 100%;
  max-height: fit-content;
}

body{ 
background-image: url(assets/bgpattern.svg);
background-repeat: repeat;
}

svg {
  max-width: 225px;
  display:block;
  margin: auto;
  padding: 1%;
}

#nameheader {
    align-items: center;
    max-width: 250px;
}

/* portfolio grid */
.image-gallery {
    /* height: 100%; */
    display: grid;
    grid-area:gallery;
  margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 0px;
    padding-top: 0px;
    /* padding-bottom: 200px; */
    grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f";
}
.box-styling {
  max-width: 720px;
  max-height: 400px;
  background-color: rgb(110, 110, 110);
    object-fit:cover ;
    overflow: clip; 
  }

.box-wrapper{
  /* height:75%; */
  height: auto;
  width: auto;
  object-fit:fill ;
  overflow: clip;
}

/* css for about area  */
#about{
  padding-top: 3%;
  grid-area:about;
}
.box1 {
    grid-area: a;
}

.box2 {
    grid-area: b;
}

.box3 {
    grid-area: c;
}

.box4 {
    grid-area: d;
}

.box5 {
    grid-area: e;
}

.box6 {
    grid-area: f;
}

.bigText {
    font-size: 2em;
    padding-right: .5ch;
}


/* ------- nav bar ------- */


nav{

  /* border-style: solid;
  border-width: 3px;
  border-color: red; */

    display: inline-block;
    margin: auto;
    position:sticky;
    width: 100%;
    top:0;
    z-index:10;
    font-family: Gantari;
    font-weight: 900;
    text-transform: uppercase;
    background-color: white;
    opacity: 80%;
  }

  nav ul {

    padding:0;
    display:flex;

  }
  nav li{

    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    padding: 2%;
    font-size: 1.7em;
  }
  
  nav li a {
    color:rgb(0, 0, 0);
    font-weight: 600;
    opacity: 0.9;
    text-decoration: none;
    transition: .3s;
  }
  
  nav li a:hover {
    color:#2487EA;
    opacity: 1;
    text-decoration: none;
  }


/* ------- icons ------ */


  #linkedin {
    color:#2487EA;
    opacity: .95;
    transition: .3s;
  }

 #linkedin:hover {
    color:#2487EA;
    opacity: .45;
  }

  #instagram {
    color:#2487EA;
    opacity: .95;
    transition: .3s;
  }

 #instagram:hover {
    /* color:#2487EA; */
    opacity: .45;

  }

  #email{
    color:#2487EA;
    opacity: .95;
    transition: .3s;
  }

 #email:hover {
    /* color:#2487EA; */
    opacity: .45;
  }


/* ------------   type treatment   ------------- */

 h1 {
  font-family: Gantari;
  font-weight: 800;
 }

 h2 {

  font-family: gantari;
  font-weight: 800;
  font-size: 60pt;
  line-height: 60pt;
  text-transform: uppercase;
  color: #2487EA;
  
 }
 h3 {
  font-family: Gantari;
  font-weight: 400;
 }

 h4 {

  font-family: Gantari;
  font-style: italic;
  font-weight: 200;

 }


h5 {

  font-family: Gantari;
  text-align: center;
  font-weight: 600;

}

p {

  font-family: Gantari;
  text-align: center;
  font-weight: 200;
  font-size: 12pt;
  line-height: 1fr;
  color: white;

}


/* ------------   section layouts   ------------- */
/* 
#about {
     display: grid;
     grid-template-columns: 50% 50%;
     grid-template-rows: 100fr;
     grid-column-gap: 15px;
     grid-row-gap: 20px;
     justify-items: center;
     align-items: center;
  } */



.resume {
  font-family: gantari;
  font-weight: 600;
  color: white;
  background-color: #2487EA;
  padding: 1.5%;
  text-decoration: none;
  transition: .5s;
}

.resume:hover {
  background-color: #95989a55;
  color: #2487EA;

}

 #contact {


  padding-bottom:5%;
 }

 .contactgrid {
 
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: 100px;
  grid-column-gap: 100px;
  grid-row-gap: 0px;
  justify-content: center;
  align-content: center;

  }

  .icongrid {
    display: grid; 
    grid-template-columns: 150px 150px 150px; 
    grid-template-rows: 150px; 
    gap: 1px 0px; 
    grid-template-areas: 
      ". . ."; 
    justify-content: center; 
    align-content: center; 
    justify-items: center; 
    align-items: center; 
  }


  .newicon {
    display: grid; 
    grid-template-columns: 100px 200px; 
    grid-template-rows: 100px 100px 100px; 
    gap: 0px; 
    grid-template-areas: 
      "instagram instagramt"
      "email emailt"
      "linkedin linkedint"; 
    justify-content: center; 
    align-content: center; 
    justify-items: left; 
    align-items: center; 
  }
  .instagram { grid-area: instagram; }
  .email { grid-area: email; }
  .linkedin { grid-area: linkedin; }
  .instagramt { grid-area: instagramt; }
  .emailt { grid-area: emailt; }
  .linkedint { grid-area: linkedint; }



  .keep {
    text-align: center;
    font-size: 50px;
  }

  #blurb {
    scale: 90%;
  }

  #about img {
    scale: 75%;
   }
  

 footer{ 
  background-color:#2487EA; 
  text-align: center;
  height: 100; } 

  footer svg{

    padding-top: 3%;
 
  }
  footer a {
    color: white;
    text-decoration: none;
    transition: .3s;
  }

  footer a:hover {
    color: black;

  }



/* custom grid for desktop viewing */


@media (min-width:1200px){
  #about {
    padding-top: 3%;
    padding-left: 12%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
    ". a b ."
 }


 .image-gallery {
  height: 100%;
  display: grid;
  grid-template-columns: none;
  grid-template-rows: auto;
  grid-gap: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  grid-template-areas:
  ". a b ."
  ". c d ."
  ". e f ."
  ". g h .";
}

.container{
  transform: scale(100%);
}

/* .about {
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: 100fr;
  grid-column-gap: 15px;
  grid-row-gap: 20px;
  justify-items: center;
  align-items: center;

} */
}

