@media (max-width:735px){
  
    .container{
      background-color: lightseagreen;
      /* margin-right:3em; */
      min-width:100%;
      /* width:100%; */
      height:100vh;
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
            "heading"
            "nav"
            "content"
            "footer";}
  
     
     }

  
  
  body{ 
  background-image: url(assets/bgpattern.svg);
  background-repeat: repeat;}
  
  
  
  /* ------- nav bar ------- */
  
  
  nav{
      display: inline-block;
      margin: auto;
      position: sticky;
      width: 100%;
      top:0;
      z-index:10;
      font-family: Gantari;
      font-weight: 900;
      text-transform: uppercase;
      background-color: white;
      opacity: 80%;
    }
  
    nav ul {
      padding:0;
      display:flex;
    }
    nav li{
      margin-left: auto;
      margin-right: auto;
      list-style-type: none;
      padding: 2%;
      font-size: 1.7em;
    }
    
    nav li a {
      color:rgb(0, 0, 0);
      font-weight: 600;
      opacity: 0.9;
      text-decoration: none;
      transition: .3s;
    }
    
    nav li a:hover {
      color:#2487EA;
      opacity: 1;
      text-decoration: none;
    }
  
  
  /* ------- icons ------ */
  
  
    #linkedin {
      color:#2487EA;
      opacity: .95;
      transition: .3s;
    }
  
   #linkedin:hover {
      color:#2487EA;
      opacity: .45;
      
  
    }
  
    #instagram {
      color:#2487EA;
      opacity: .95;
      transition: .3s;
    }
  
   #instagram:hover {
      /* color:#2487EA; */
      opacity: .45;
  
    }
  
  /* ------------   type treatment   ------------- */
  
   h1 {
    font-family: Gantari;
    font-weight: 800;
   }
  
   h2 {
  
    font-family: gantari;
    font-weight: 800;
    font-size: 72pt;
    line-height: 60pt;
    text-transform: uppercase;
    color: #2487EA;
    
   }
   h3 {
    font-family: Gantari;
    font-weight: 400;
   }
  
   h4 {
  
    font-family: Gantari;
    font-style: italic;
    font-weight: 200;
  
   }
  
  
  
   /* ------------   main container   ------------- */
  
   
   .container {
  
    max-width: 1900px;
    min-width: fit-content;
  
  
  }
  
img {

  max-width: 1080px;
}
  
   