
*{
  padding: 0; 
  margin: 1;
  box-sizing: border-box;
  border: 2px solid rgb(71, 214, 20);

  } 



  @media (max-width:1000px){
  
    .container{ 
      transform: scale(90%);
      padding:3%;
      margin-left: 45px;
      min-width:100%;
      width:100%;
      height:100%;
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
            "heading"
            "nav"
            "content"
            "footer";}

            .images {

              display: grid;
              grid-template-columns: 1fr;
              grid-template-rows: auto;
              object-fit: fill;
              justify-content: center;
              justify-items: center;
              align-items: center;
            }
        
            img {
              max-width: 100%;
            }

            .sidebar {
              z-index: 10;
              position:fixed;
              position-items: left;
              width: 60px;
              display: grid;
              grid-template-columns: 60px;
              grid-template-rows: repeat(4, 60px);
              grid-row-gap: 15px;
              }
  
            .projectinfo {
              background-color: rgba(255, 255, 255, 0.619);
              margin-left: 5%;
              padding-right: 8%;
            }
      }
   
    
  
   /* ------------   main container   ------------- */
  
   

  .heading {
    position:fixed;
    width: 70px;

  }
  
  
  body{ 
  
  background-image: url(assets/bgpattern.svg);
  background-repeat:repeat;
  
  
  }

 
  
  svg {
    max-width: 225px;
    display:block;
    margin: auto;
    padding: 1%;
  }
 
  
 
    .images {

      display: grid;
      grid-template-columns: 1fr;

    }

    img {
      max-width: 95%;
    }


  /* ------------   type treatment   ------------- */
  
  h1 {
    font-family: Gantari;
    font-weight: 800;
   }
  
   h2 {
  
    font-family: gantari;
    font-weight: 800;
    font-size: 60pt;
    text-transform: uppercase;
    color: #2487EA;
    
   }
   h3 {
    font-family: Gantari;
    font-style: italic;
    font-weight: 600;
   }
  
   h4 {
  
    font-family: Gantari;
    font-style: italic;
    font-weight: 200;
  
   }
  
  
  h5 {
  
    font-family: Gantari;
    text-align: center;
    font-weight: 600;
  
  }
  
  p {
  
    font-family: Gantari;
    font-weight: 400;
    font-size: 14pt;
    line-height: 1fr;
    color: rgb(0, 0, 0);
    
  }
  
  
  h5 {
  
    font-family: Gantari;
    text-align: center;
    font-weight: 600;
  
  }
  

  footer p {

    color: white;
  }

  footer{ 
    background-color:#2487EA; 
    text-align: center;
    height: 100%;
    padding-bottom: 1.5%;
     } 
  
    footer svg{
  
      padding-top: 3%;
   
    }
    footer a {
      color: white;
      text-decoration: none;
      transition: .3s;
    }
  
    footer a:hover {
      color: black;
  
    }
  
  

        /* desktop grid */

        @media (min-width:1000px){
          .parent {
               transform: scale(90%);
               display: grid;
               overflow: hidden;
               justify-content: center;
               align-content: center;
               align-items: center;
               
               grid-template-columns: repeat (2, .5fr);
               grid-template-rows: repeat(3, 1fr);
               grid-column-gap: 0px;
               grid-row-gap: 0px;
               }
               
               .div1 { grid-area: 1 / 1 / 2 / 3; }
               .div2 { grid-area: 2 / 1 / 3 / 2; }
               .div3 { grid-area: 2 / 2 / 3 / 3; }
               .div4 { grid-area: 3 / 1 / 4 / 3; } 
             }
 